@model Drogueria_Elcafetero.Models.address

@{
    ViewData["Title"] = "Detalles";
    Layout = null;
}
<link rel="stylesheet" href="~/css/detailadmin.css" />
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Dirección</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    
</head>
<body>
    <div class="container">
        <h1>Detalles de Dirección</h1>

        <div>
            <h4>Detalles de la Dirección</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.city_name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.city_name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.id_supplier)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.id_supplier)
                </dd>
            </dl>
        </div>

        <div class="form-group" style="text-align:center; margin-top: 20px;">
            <a class="btn" asp-action="Edit" asp-route-id="@Model?.id_address">Editar</a>
            <a class="btn" asp-action="Index">Volver a la Lista</a>
        </div>
    </div>
</body>
</html>
