@model IEnumerable<Drogueria_Elcafetero.Models.address>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.city_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.city_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_supplier)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_address">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_address">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_address">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
