@model IEnumerable<Drogueria_Elcafetero.Models.sales_details>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_sale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount_products)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unit_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.subtotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_sale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount_products)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unit_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subtotal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_detail">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_detail">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_detail">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
