@model IEnumerable<Drogueria_Elcafetero.Models.sales>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sale_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total_sale)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_customer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_employee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sale_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_sale)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_sale">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_sale">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_sale">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
