@model Drogueria_Elcafetero.Models.car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_user)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_user)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_product)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_car">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
