@model IEnumerable<Drogueria_Elcafetero.Models.details_car>

@{
    Layout = null;
}

<h1>Tu Carrito de Compras</h1>

<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Fecha</th>
            <th>Precio</th>
            <th>Precio Total</th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NombreProducto</td>
                <td>@item.Cantidad</td>
                <td>@item.Fecha.ToString("g")</td>
                <td>@item.Precio</td>
                <td>@item.PrecioTotal</td>
                <td>
                    <a href="@Url.Action("Delete", "cars", new { id = item.CarritoId })" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>